.newsletter-panel {
  position: fixed;
  bottom: 0;
  background-color: rgb(0, 123, 193, 0.9);
  color: #fff;
  padding: 24px;
  max-width: 525px;
  z-index: 10;
  transition: 1s;
}

.newsletter-panel.hidden {
  transform: translateY(100%)
}

.newsletter-panel-close {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 24px;
  cursor: pointer;
}

.newsletter-panel-title {
  font-size: 24px;
  margin: 0 0 8px 0;
}

.newsletter-panel-body {
  line-height: 1.6;
  font-size: 14px;
  margin: 0 0 16px 0;
}

.newsletter-panel-form {
  display: flex;
}

.newsletter-panel-input-field {
  flex: 1;
  margin-right: 8px;
  padding: 6px 8px;
  outline: none;
  box-sizing: border-box;
}

.newsletter-panel-button {
  background-color: #FBA200;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 6px 8px;
  outline: none;
}

@media (max-width: 480px) {
  .newsletter-panel-form {
    display: block;
  }
  .newsletter-panel-input-field {
    width: 100%;
    margin-bottom: 16px;
  }
  .newsletter-panel-button {
    width: 100%;
    text-align: center;
  }
}